body {
    background-color: darkslategray;
}

#name {
    color: darkorange;
    text-align: center;
    font-size: 72px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#jobTitle {
    color: darkorange;
    text-align: center;
    font-size: 42px;
    font: bold;
    font-style: italic;
}

.portrait {
    width: 300px;
    /* Desired width */
    height: 300px;
    /* Desired height */
    border-radius: 50%;
    /* Makes the shape circular */
    object-fit: cover;
    /* Ensures the image is cropped properly */
    overflow: hidden;
    border: 2px solid #ccc;
    /* Optional: Add a border */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about {
    /* background-color: darkturquoise; */
    color: cornsilk;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sites-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact {
    color: cornsilk;
    text-align: left;
    padding: 20px;
    font-size: 24px;
    font-family: 'Segoe UI',
        Tahoma,
        Geneva,
        Verdana,
        sans-serif;

    a {
        color: darkorange;
    }

    a:hover {
        color: blue;
    }

    a:visited {
        color: darkcyan;
    }


}

.projects {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.my-sites {
    text-align: left;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: cornsilk;
    /* line-height: 1.7; */

    h2 {
        text-align: center;
    }

    a {
        color: darkorange;
    }

    a:hover {
        color: blue;
    }

    a:visited {
        color: darkcyan;
    }

}

.table-of-contents {

    background-color: darkslategray;
    text-align: center;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    a {
        color: darkorange;
    }

    a:hover {
        color: aqua;
    }

    a:visited {
        color: aqua;
    }
}

h2 {
    color: rgba(245, 245, 245, 0.788);
}

.footer {
    background-color: darkslategray;
    color: aqua;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.demos{
    text-align: center;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}